
@{
    ViewBag.Title = "Activities";
}

<h2 class="text-center" style="color:rgba(128, 128, 128, 0.67)">Activities</h2>



<div class="row">
    <div class="col-lg-4 text-center">
        <h3><img src="~/images/project.jpg" height="120" />Communication Infrastructure</h3>

        <div class="col-lg-12">
            <h6>
                -Planning and installation of different technology communication systems based on Koex and fiber optics.
                <br /><br />
                -Fiber optic fusion and full inspection.
                <br /><br />
                -Communication equipment shipment and setup.
                <br /><br />
                -Infrastructure detection and identification.
                <br /><br />
                -Installation of cabinets and pits alongside the main line.
                <br /><br />
                -Supply and threading of communication and elctric cables, and particular specialization in fiber optic threading.
                <br /><br />
                -Communication and optic projects set up and maintenance, from plannig stage to delivering the project to the client.
                <br /><br />
                -Making connection in differnet levels of complexity.
                <br /><br />
                -Optic communication substructure set up.
                <br /><br />
                -Installation of active/passive communication equipment, and low voltage control systems.
                <br /><br />
                -Experienced engineers, practical engineers and technicians in the field of communication infratructure and fiber optics.
                <br /><br />
                -Cutting edge tools for fusion and inspection of fibers (OTDR, PM).
                <br /><br />
            </h6>
        </div>

    </div>
    <div class="col-md-4 text-center">
        <h3> <img src="~/images/projCC.jpg" height="120" />Communication Solutions</h3>

        <div class="col-lg-12">
            <h6>
                -Unique FTTH fiber optic "Triple" solutions for YES and HOT (existing in Sasa and Yakum).
                <br /><br />
                -Fiber optic based, re-run solution.
                <br /><br />
                -RF network sut up solutions for YES and HOT.
                <br /><br />
                -Maintenance of all communication systems.
                <br /><br />
                -Project management for clients.
                <br /><br />
                -GPON solutions for deploying fiber optics to clients.
                <br /><br />
                -Telephony solutions based on optic infrastucture to IP operators.
                <br /><br />
                -Solutions for IP operators.
                <br /><br />
                -Services for fiber optics maintenance.
                <br /><br />
            </h6>
        </div>

    </div>
    <div class="col-md-4 text-center">
        <h3><img src="~/images/88.jpg" height="120" />Planning</h3>
        <div class="col-lg-12">
            <h6>
                -Providing planning services for new and existing neighborhoods regarding infrastracture.
                <br /><br />
                -Production of maps and execution of AS-MADE for existing clients.
                <br /><br />
                -Carrying out plans regarding communication for new and existing neighborhoods.
                <br /><br />
                -Example for clients regarding plannig:
                <br /><br />
                Establishment of a comprehensive planning solution for "1 to 100" project to the south region, from Jerusalem to Eilat.
                <br /><br />
                Communication solution for the old and a new neighbohood.
            </h6>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br />
