@using Web3PonApplication.Models
@{
    ViewBag.Title = "MainLogin";
}

<h2>MainLogin</h2>
@{ 
    var user = Session["user"] as User;
}

@if (user != null)
{
    <h3>Welcome @user.UserName</h3>
    
}

